{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $profileChoices := list "personal" "work" -}}
{{- $profile := promptChoiceOnce . "profiles" "Which profile should be used for this machine" $profileChoices -}}
{{- $opAccountId := promptStringOnce . "opAccountId" "Which 1Password account ID should be used for dotfiles" }}
template:
  options:
  - "missingkey=invalid"
git:
  autoCommit: true
  autoPush: true
hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/.install-password-manager.sh"
data:
  email: {{ $email | quote }}
  profile: {{ $profile | quote }}
  zshrc_snippet: ""
  homebrew:
    brews: []
    casks: []
    taps: []
    mas: []
  onepassword:
    account: {{ $opAccountId | quote }}
