# ------- TAPS -------
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.taps | uniq | sortAlpha) }}
tap {{ . | quote }}
{{- end }}
{{ if .homebrew.taps }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.taps | uniq | sortAlpha) }}
tap {{ . | quote }}
{{- end }}
{{- end }}

# ----- FORMULAE -----
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.brews | uniq | sortAlpha) }}
brew {{ . | quote }}
{{- end }}
{{ if .homebrew.brews }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.brews | uniq | sortAlpha) }}
brew {{ . | quote }}
{{- end }}
{{- end }}

# ------- CASKS -------
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.casks | uniq | sortAlpha) }}
cask {{ . | quote }}
{{- end }}
{{ if .homebrew.casks }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.casks | uniq | sortAlpha) }}
cask {{ . | quote }}
{{- end }}
{{- end }}

# -------- MAS --------
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.mas | uniq | sortAlpha) }}
mas {{ . | quote }}
{{- end }}
{{ if .homebrew.mas }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.mas | uniq | sortAlpha) }}
mas {{ .name | quote }}. id: {{ .id }}
{{- end }}
{{- end }}
