tap "homebrew/cask-fonts"
{{- range .homebrew.taps }}
tap {{ . | quote }}
{{- end }}

# ----- FORMULAE -----
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.brews | uniq | sortAlpha) }}
brew {{ . | quote }}
{{- end }}
{{ if .homebrew.brews }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.brews | uniq | sortAlpha) }}
brew {{ . | quote }}
{{- end }}
{{- end }}

# ------- CASKS -------
# source: {{ .chezmoi.sourceDir }}/.chezmoidata.yaml
{{- range (.global.homebrew.casks | uniq | sortAlpha) }}
cask {{ . | quote }}
{{- end }}
{{ if .homebrew.casks }}
# source: {{ .chezmoi.configFile }}
{{- range (.homebrew.casks | uniq | sortAlpha) }}
cask {{ . | quote }}
{{- end }}
{{- end }}
