tap "homebrew/cask-fonts"

brew "git"
brew "coreutils"
brew "k9s"
brew "fzf"
brew "jq"
brew "ghq"
brew "chezmoi"
brew "rtx"
brew "binutils"
brew "antigen"
{{- range .homebrew.brews }}
brew {{ . | quote }}
{{- end }}

cask "1password-cli"
cask "element"
cask "amethyst"
cask "visual-studio-code"
cask "google-chrome"
cask "font-hack-nerd-font"
{{- range .homebrew.casks }}
cask {{ . | quote }}
{{- end }}
