[alias]
co = checkout
oops = reset --soft HEAD^
who = blame
bp = remote prune origin
fpush = push --force-with-lease
ss = status --short
loc = diff --stat
fnr = !git fetch origin main && git rebase origin/master --committer-date-is-author-date

[commit]
gpgSign = true

[filter "lfs"]
clean = "git-lfs clean -- %f"
process = "git-lfs filter-process"
required = true
smudge = "git-lfs smudge -- %f"

[gpg]
format = "ssh"

# [gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
# program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "linux" }}
# program = "/opt/1Password/op-ssh-sign"
{{- end }}

[pull]
rebase = false

[push]
autoSetupRemote = true

[tag]
gpgSign = true

[user]
email = {{ .email | quote }}
name = "Travis Huddleston"
signingKey = {{ onepasswordRead "op://Private/SSH Key/public key" | quote }}

# Reuse Recorded Resolution for conflicts
# https://blog.gitbutler.com/git-tips-1-theres-a-git-config-for-that/
[rerere]
enabled = true
autoUpdate = true

[branch]
sort = -committerdate

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
{{ if .gitconfig_snippet }}
{{ .gitconfig_snippet }}
{{ end }}
