[alias]
  co = checkout
  oops = reset --soft HEAD^
  who = blame
  bp = remote prune origin

[commit]
	gpgSign = true

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[gpg]
	format = "ssh"

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[pull]
	rebase = false

[push]
  autoSetupRemote = true

[tag]
	gpgSign = true

[url "git@github.com:immuta"]
	insteadOf = "https://github.com/immuta"

[url "git@gitlab.infrastructure.immuta.io:"]
	insteadOf = "https://gitlab.infrastructure.immuta.io/"

[user]
	email = {{ .email | quote }}
	name = "Travis Huddleston"
	signingKey = {{ onepasswordRead "op://Private/SSH Key/public key" | quote }}

# Reuse Recorded Resolution for conflicts
# https://blog.gitbutler.com/git-tips-1-theres-a-git-config-for-that/
[rerere]
	enabled = true
  autoUpdate = true
