#!/usr/bin/env zsh

PATH="/opt/homebrew/opt/gnu-tar/libexec/gnubin:/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/coreutils/libexec/gnubin:/usr/local/bin:$HOME/.local/bin:$HOME/bin:$HOME/.cargo/bin:/opt/homebrew/bin:$HOME/scratch/scripts:$PATH"

# Taken from https://www.youtube.com/watch?v=ud7YxC33Z3w
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

eval "$(ssh-agent -s)"
ssh-add $HOME/.ssh/id_ed25519

# Aliases
alias k=kubectl
alias g=git

function _history_substring_search_config() {
    bindkey "$terminfo[kcuu1]" history-substring-search-up
    bindkey "$terminfo[kcud1]" history-substring-search-down
    bindkey '^[[A' history-substring-search-up
    bindkey '^[[B' history-substring-search-down
}

# ZSH Plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
# zsh-history-substring-search Plugin setup
zinit snippet OMZ::plugins/git/git.plugin.zsh
zinit ice wait atload'_history_substring_search_config' silent
zinit light zsh-users/zsh-history-substring-search
# zinit light jeffreytse/zsh-vi-mode

_history_substring_search_config

# Load completions
autoload -U compinit && compinit

# History
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_find_no_dups

# Vars
export OP_ACCOUNT={{ .onepassword.account | quote }}
export EDITOR="nvim"
export HISTORY_SUBSTRING_SEARCH_PREFIXED=1

# Aliases
alias ls='ls -al --color=auto'
alias ch='chezmoi'

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config ~/.config/ohmyposh/astronaut-noir.omp.json)"
fi
{{- if .zshrc_snippet }}
{{ .zshrc_snippet | nindent 0 }}
{{- end }}
for f in $HOME/.zsh.d/*; do
  [[ -d $f ]] && continue
  source "$f"
done

CDPATH="$HOME:$GHQ_ROOT/github.com"

