if type brew &> /dev/null; then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi

PATH="/nix/var/nix/profiles/default/bin:$HOME/.local/share/mise/shims:/usr/local/opt/coreutils/libexec/gnubin:/usr/local/bin:$HOME/.local/bin:$HOME/.cargo/bin:/opt/homebrew/bin:$HOME/scratch/scripts:$PATH"

source $(brew --prefix)/share/antigen/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle git
antigen bundle command-not-found
antigen bundle direnv
antigen bundle colorize
antigen bundle safe-paste
antigen bundle kubectl

# Additional bundles
# antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle ael-code/zsh-colored-man-pages

antigen apply

if command -v kubectl &> /dev/null; then
  source <(kubectl completion zsh)
fi

# Theme
if [[ ! -d $HOME/powerlevel10k ]]; then
  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/powerlevel10k
fi
source $HOME/powerlevel10k/powerlevel10k.zsh-theme
[[ ! -f $HOME/.p10k.zsh ]] || source $HOME/.p10k.zsh

# Vars
export OP_ACCOUNT={{ .onepassword.account | quote }}

# Aliases
alias ls='ls -al --color=auto'
alias ch='chezmoi'
alias chgit='chezmoi git'
alias chapply='chezmoi apply'
alias chedit='chezmoi edit'

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
[[ -f ~/.p10k.rtx.zsh ]] && source ~/.p10k.rtx.zsh

eval "$(mise activate zsh)"
eval "$(direnv hook zsh)"

for f in $HOME/.zsh.d/*; do
  [[ -d $f ]] && continue
  source "$f"
done
